<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ launchd_label }}</string>

  <key>ProgramArguments</key>
  <array>
    <string>{{ runner_path }}</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>{{ run_interval_seconds }}</integer>

  <key>StandardOutPath</key>
  <string>{{ log_file }}</string>

  <key>StandardErrorPath</key>
  <string>{{ log_file }}</string>
</dict>
</plist>
